@page
@using System.Diagnostics
@model IndexModel
@{
	ViewData["Title"] = "Home page";
	foreach (KeyValuePair<string, object?> keyValuePair in ViewData)
	{
		Debug.WriteLine(keyValuePair);

	}
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div>
	<table>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Progress</th>
			<th>Action</th>
		</tr>
		
		@foreach (var item in /*IndexModel.snd.Sounds.Keys*/ Model.Sounds) {

			<tr id="@item.Id">
				<td>
					@Html.DisplayFor(f => item.Name)
				</td>
				<td>
					@Html.DisplayFor(f => item.Status)
				</td>
				<td>
					@Html.DisplayFor(f => item.PlaybackProgress)
				</td>
				<td>
					<form method="post">
						<button asp-page-handler="Play" asp-route-id="@item.Id">@item.Status</button>

					</form>

				</td>

			</tr>
		}

	</table>
</div>

<script>
	function playAudio(path) {
		fetch('audio/play',
				{
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(path)
				}).then(response => console.log('Audio playing:', response.ok))
			.catch(error => console.error('Error playing audio:', error));
	}
</script>